<!DOCTYPE configuration SYSTEM "patConfiguration.dtd">
<configuration>
    <path name="database">
        <configValue name="smart" type="array">
            <configValue name="db_host">127.0.0.1</configValue>
            <configValue name="db_user">root</configValue>
            <configValue name="db_pass"></configValue>
            <configValue name="db_type">mysql</configValue>
            <configValue name="db_name">smart</configValue>
            <configValue name="db_table_prefix">smart_</configValue>
        </configValue>        
    </path>
</configuration>
