<patTemplate:tmpl name="module">
<table width="100%"  border="0" cellspacing="2" cellpadding="2">
  <tr>
    <td width="4%">&nbsp;</td>
    <td width="63%" align="center" valign="middle">This message comes from the <strong>{THIS_MODULE}</strong> module. This module is only for testing purpose. It show you the minimal requirements to get work a module. Please take a look in the /admin/modules/test/ folder.</td>
    <td width="33%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</patTemplate:tmpl>