.text {
	font-size: 12px;
	color: #333333;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
.leftcol {
	border-top-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #516570;

}
a {
	color: #516570;
}
.branch {
	font-size: 10px;
}
.subnodetitle {
	font-size: 10px;
	font-weight: bold;
	color: #EAEAEA;
	background-color: #516570;
	text-align: center;
	vertical-align: middle;
}
.subnode {
	font-size: 10px;
	height: 14px;
	margin: 0px 0px 5px;
	padding: 0px;
	text-align: left;
	text-indent: 2px;
	vertical-align: top;




}
.subnodetable {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #516570;
}
.sitemap {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.footer {
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.hr {
	background-color: #516570;
	height: 2px;
	width: 100%;
	border: 0px none;


}
h3 {
	color: #969696;
}
a:hover {
	color: #0000FF;
}

#submenu {
	list-style: none;
	margin: 0;
	padding: 0;

}


#sidebar #submenu a {
	color: #EBEBEB;
	text-decoration: underline;
	font-size: 14px;
        display: block;
        height: 25px;
        padding-left: 10px;
}

#sidebar #submenu a:hover {
	background: #e0e0e0;
	color: #CC0000;
	font-size: 14px;

}
.maintab {
	border-top: 5px solid #2096DB;
	border-right: 3px solid #2096DB;
	border-bottom: 2px solid #516570;
	border-left: 5px solid #516570;

}
