body,td,th {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
.font14 {font-size: 14px}
.font9bold {
    font-size: 9px;
    font-weight: bold;
}