body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFFFF;
}
div,p,span,h1,h2,h3,h4,h5,h6{
        font-size: 12px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
p{
	padding-bottom: 10px;
}
h1,h2,h3,h4,h5,h6{
	color: #0000FF;
}
h1{
	font-size: 36px;
	padding-bottom: 10px;	
}
h2{
	font-size: 24px;
	padding-bottom: 8px;	
}
h3{
	font-size: 18px;
	padding-bottom: 5px;	
}
h4{
	font-size: 16px;
	padding-bottom: 5px;	
}
h5{
	font-size: 14px;
	padding-bottom: 3px;	
}
h6{
	font-size: 12px;
	padding-bottom: 2px;	
}
pre {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;	
}
.smart_imagetext {
	font-size: 10px;
	color: #0000FF;
}
.important_color {
	color: #FF0000;
}
.important_size {
	font-size: 14px;
}
.important_color_size {
	font-size: 14px;
	color: #FF0000;
}
.back_color {
	background-color: #EBEBEB;
}
div.quote{
        background-color: #EBEBEB;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
.text {
	font-size: 12px;
	color: #333333;	
}
.leftcol {
	border-top-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #516570;

}
a {
	color: #516570;
}
.branch {
	font-size: 10px;	
}
.subnodetitle {
	font-size: 10px;
	font-weight: bold;
	color: #EAEAEA;
	background-color: #516570;
	text-align: center;
	vertical-align: middle;
}
.subnode {
	font-size: 10px;
	height: 14px;
	margin: 0px 0px 5px;
	padding: 0px;
	text-align: left;
	text-indent: 2px;
	vertical-align: top;
        padding-bottom: 5px;
}
.subnodetable {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: solid;
	border-left-color: #516570;
}
.sitemap {
        font-size: 12px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.footer {
        text-align: right;
	font-size: 10px;
	font-weight: normal;
	color: #FFFFFF;
}
.hr {
	background-color: #516570;
	height: 2px;
	width: 100%;
	border: 0px none;


}
a:hover {
	color: #0000FF;
}

.maintab {
	border-top: 5px solid #2096DB;
	border-right: 3px solid #2096DB;
	border-bottom: 2px solid #516570;
	border-left: 5px solid #516570;

}

 #navcontainer
{
width: 120px;
padding: 0 0 0 0;
margin-bottom: 1em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
font-size: 12px;
background-color: #90bade;
color: #333;
}

#navcontainer ul
{
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#navcontainer li
{
border-bottom: 1px solid #90bade;
margin: 0;
}

#navcontainer li a
{
display: block;
padding: 5px 5px 5px 0.5em;
border-left: 6px solid #1958b7;
border-right: 6px solid #508fc4;
background-color: #2175bc;
color: #fff;
text-decoration: none;
width: 100%;
}

html>body #navcontainer li a { width: auto; }

#navcontainer li a:hover
{
border-left: 6px solid #1c64d1;
border-right: 6px solid #5ba3e0;
background-color: #2586d7;
color: #fff;
}

