.leftcol {
	border-top-width: 0px;
	border-right-width: 2px;
	border-bottom-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-right-color: #516570;

}

.overtitle {
	font-size: 1.2em;
	color: #777777;	
	font-weight: bold;
}
.subtitle {
	font-size: 1em;
	color: #333333;	
}
.header {
	font-size: 1.2em;
	color: #000000;	
	font-weight: bold;
}
.ps {
	font-size: 1em;
	color: #333333;	
}
.description {
	font-size: 1.2em;
	color: #333333;	
}
.branch {
	font-size: 1.2em;	
}
.subnodetitle {
	font-size: 1.2em;
	font-weight: bold;
	color: #0000CC;
	text-align: left;
}
.subnode {
	font-size: 1em;
	height: 1.4em;
	margin: 0px 0px 5px;
	padding: 0px;
	text-align: left;
	text-indent: 2px;
	vertical-align: top;
        padding-bottom: 5px;
}
.subnodetable {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-left: 20px;

}
.font12 {
	font-size: 1.2em;
	font-weight: bold;
}
.sitemap {
        font-size: 1.2em;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
}
.footer {
        text-align: right;
	font-size: 1em;
	font-weight: normal;
	color: #FFFFFF;
}
.maintab {
        margin:auto;
	border-top: 5px solid #2096DB;
	border-right: 3px solid #2096DB;
	border-bottom: 2px solid #516570;
	border-left: 5px solid #516570;
}
.subnodeul {
	list-style-position: outside;
	list-style-type: circle;
}
.subnodelist {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-size: 1em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 3px;
	margin-left: 0px;
}
 #navcontainer
{
width: 120px;
padding: 0 0 0 0;
margin-bottom: 1em;
font-family: Verdana, Lucida, Geneva, Helvetica, Arial, sans-serif;
font-size: 1em;
background-color: #90bade;
color: #333;
}

#navcontainer ul
{
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#navcontainer li
{
border-bottom: 1px solid #90bade;
margin: 0;
}

#navcontainer li a
{
display: block;
padding: 5px 5px 5px 0.5em;
border-left: 6px solid #1958b7;
border-right: 6px solid #508fc4;
background-color: #2175bc;
color: #fff;
text-decoration: none;
width: 100%;
}

html>body #navcontainer li a { width: auto; }

#navcontainer li a:hover
{
border-left: 6px solid #1c64d1;
border-right: 6px solid #5ba3e0;
background-color: #2586d7;
color: #fff;
}
